@media screen and (max-width:1500px)
{
    a{
       
        display: flex;
    }
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    .pull-right img{
        max-height: 50px;
        max-width: 75px;
        height: fit-content;
        margin-left: 1rem;
    }
    .pull-right{
        margin: auto 0 auto auto;
    }
   
}
